.onagre {
  height: 400px;
  width: 700px;
  background: #@base10@;
  color: #@base04@;
  --font-family: "Inter";
  font-size: 24px;
  --icon-theme: "We10X-blue-dark";
  --icon-size: 40px;

  .container {
    .search {
      color: #@base05@;
      background: #@base01@;
      border-radius: 5;

      .input {
        --placeholder-color: #@base04@;
        border-radius: 5;
      }
    }

    .rows {
      .row {
        color: #@base04@;
        border-radius: 5;

        .title {
          font-size: 18px;
        }

        .description {
          font-size: 14px;
        }
      }

      .row-selected {
        color: #@base05@;
        border-radius: 5;

        .title {
          font-size: 18px;
        }

        .description {
          font-size: 14px;
        }
      }
    }

    .scrollable {
      .scroller {
        color: #@base01@;
      }
    }
  }
}
