"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$fill\
$dart\
$golang\
$kotlin\
$lua\
$nodejs\
$python\
$rust\
$nix_shell\
$cmd_duration\
$jobs\
$status\
$line_break\
$character
"""

add_newline = false

[fill]
symbol = " "

[username]
format = "[$user]($style)"
style_user = "bold blue"
style_root = "bold red"
show_always = false

[hostname]
format = "@[$hostname$ssh_symbol]($style) in "
ssh_symbol = " "
style = "bold yellow"
ssh_only = true

[directory]
read_only = " 󰌾"
truncate_to_repo = false
fish_style_pwd_dir_length = 1
style = "bold cyan"

[git_branch]
style = "bold green"
symbol = " "
truncation_length = 20

[git_commit]
style = "green"
tag_disabled = false

[git_state]
style = "bold purple"

[git_status]
format = "([\\[$all_status$ahead_behind\b\\]]($style) )"
style = "white"
conflicted = "[!${count}](red) "
ahead = "[⇡${count}](purple) "
behind = "[⇣${count}](purple) "
diverged = "[⇡${ahead_count} ⇣${behind_count}](purple) "
up_to_date = ""
untracked = "[?${count}](cyan) "
stashed = '[\$${count}](blue) '
modified = "[*${count}](yellow) "
staged = "[+${count}](green) "
renamed = "[➜${count}](yellow) "
deleted = "[-${count}](red) "

# We need to define `format` for each module on the right side to get rid of the trailing space.
# We put the space at the start of each module instead.
[dart]
format = " via [$symbol( $version)]($style)"
symbol = ""

[golang]
format = " via [$symbol( $version)]($style)"
symbol = ""

[kotlin]
format = " via [$symbol( $version)]($style)"
symbol = ""

[lua]
format = " via [$symbol( $version)]($style)"
symbol = ""

[nodejs]
format = " via [$symbol( $version)]($style)"
symbol = ""

[python]
format = ' via [${symbol}( ${version})( \($virtualenv\))]($style)'
symbol = ""

[rust]
format = " via [$symbol( $version)]($style)"
symbol = "󱘗"

[nix_shell]
format = " via [$symbol $state]($style)"
symbol = ""
pure_msg = "[▲](green)"
impure_msg = "[▼](yellow)"

[cmd_duration]
format = " took [$duration]($style)"
style = "yellow"

[jobs]
format = " [$symbol$number]($style)"

[status]
format = " [$symbol$status]($style)"
disabled = false
pipestatus = true
pipestatus_format = "$pipestatus"
symbol = "✘ "
not_executable_symbol = ""
not_found_symbol = "?"
sigint_symbol = "󱐋"
