@import "colors.css";

/* GENERAL */
* {
  border: none;
  border-radius: 0;
  font-family: "Roboto Condensed", "JetBrainsMonoNL NF";
  font-size: 19px;
  font-weight: 400;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
  color: @fg;
}

window > box {
  margin: 10px 10px 0 10px;
  background: @bg_dark;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 10px 4px 4px;
}

tooltip {
  background: @bg_dark;
  border: 1px solid @fg;
  border-radius: 5px;
}

tooltip label {
  color: @fg;
}

/* WORKSPACES */
#workspaces button{
  background: @bg_dark;
  color: @fg;
  padding: 2px 6px;
  margin: 0 4px 0 0;
  border-radius: 3px;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background: @accent_primary;
  color: @bg_dark;
}

#workspaces button.urgent {
  background: @warning;
  color: @bg_dark;
}

/* HYPRLAND SUBMAP */
#submap {
  color: @warning;
}
